{% extends 'base.html.twig' %}

{% block title %}Hello AnnoncesController!{% endblock %}

{% block body %}
<main class="w-[80%] mx-auto mt-10">
{{ form_start(form, {'attr': {'class': 'flex flex-col gap-4'}}) }}

{{ form_label(form.title) }}
{{ form_widget(form.title) }}

{{ form_label(form.description) }}
{{ form_widget(form.description) }}

{{ form_label(form.img) }}
{{ form_widget(form.img) }}

{{ form_label(form.salary) }}
{{ form_widget(form.salary) }}

{{ form_label(form.duration) }}
{{ form_widget(form.duration) }}

{{ form_label(form.date_publish) }}
{{ form_widget(form.date_publish) }}

{{ form_label(form.type) }}
{{ form_widget(form.type) }}

<button type="submit" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Create</button>
{{ form_end(form) }}

</main>
{% endblock %}
